<!DOCTYPE html>
<html>
<head>
  
  </head>
  <style>

</style>
</head>
<body>

<div class="welcomePage">

  <!-- Start of Foundation Orbit -->
  <div id="image-slider-container">
    <div id="owl-demo" class="owl-carousel">
      <div>
        <h2>Shopping for Makeup Made Easy</h2>
        <h3 class="welcome-font">Never waste time or money again trying to find your matching shade. Let Makeup Shade Guide find it for you.</h3>
        <img src="assets/coverphoto_small.jpg" alt=""/>
      </div>
      <div>
        <h2>What Makeup Do You Use?</h2>
        <h3 class="welcome-font">We find other products that match your current makeup through your True Shade. Your True Shade will tell us your skin color, your skin undertone, and what makeups match you.</h3>
        <img src="assets/f1.jpg" alt=""/>
      </div>
      <div class="active">
        <h2>How Do We Do This?</h2>
        <h3 class="welcome-font">We don't, YOU do! Users leave Shade Matching Reviews for makeups to improve shade matching accuracy. Used a shade that didn't match you? Leave a review.</h3>
        <img src="assets/f2.jpg", alt=""/>
      </div>
      <div>
        <h2>Find Your Matching Makeup Shades</h2>
        <h3 class="welcome-font">Hundreds of brands, thousands of products, a whole lot of shades!</h3>
        <img src="assets/f3.jpg", alt=""/>
      </div>
    </div>
  </div>
</div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
</body>
</html>

