
<div class="welcomephoto">

  <div class = "row">
    <div class = "large-9 columns" id="logo">
      <h1 class="landtitle"><%=link_to "Makeup Shade Guide", root_path %></h1>
    </div>
    <div class="large-3 columns" >
        <ul>
          <%= link_to 'Login', new_session_path, :class => 'small button radius' %>
        </ul>
        <ul>
          <%= link_to 'Sign Up', new_user_path, :class => 'small button radius' %>
        </ul>
    </div>
  </div><!-- end of row -->

  <div class="aboutUs">
    <p class="aboutUsContent">
      Makeup Shade Guide standardizes the thousands of foundations into set "true shades" for women to make cosmetic shopping an easier and more pleasant experience. Users sign up, enter their current matching foundation shade(s), and Makeup Shade Guide will generate other matching foundations. The more users that join, the more [accurate] the foundations will be. Try it out!
    </p>
  </div>

</div><!-- end of welcomephoto -->


