/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Rock+Salt);


.welcomephoto {
  background-size: cover;
  background-image: url("coverphoto.jpg");
  background-repeat: no-repeat;
  height: 805px;

}

#logo {
  float: left;
}

ul {
  display: inline;
  padding: 0;
  margin: 0;
}
/*.homepagepicture {
  height: 400px;
  width: 600px;
  background-image: url(f1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}*/

.aboutUs {
  width: 75%;
  height: 200px;
  text-align: justify;
  color: white;
  margin: 0 auto;
  margin-top: 400px;
  background-color: rgba(0,0,0,0.4);
}

.aboutUsContent {
  font-size: 26px;
}


#signinTitle {
  height: 200px;

}
h1.landtitle {
  text-align: left;
  margin-bottom: 50px;
  font-size: 58px;
  font-family: 'Rock Salt', cursive !important;
}

.form-group {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

#signinform {
  width: 300px;
  height: auto;
  text-align: center;
}

#poster1 {
  height: 400px;
  width: 530px;
  margin: 0 420px;
  position: fixed;
  background-image: url("fixed.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#poster2 {
  height: 400px;
  width: 530px;
  margin: 0 420px;
  position: fixed;
  background-image: url("f3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}


  
















