/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
/*start of navigation bar styling*/
.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: -50px;
    opacity: 0.8;
    z-index: 999;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.navbar:hover {
    top: 0;
}
/*end of navigation styling*/

/*start of welcome page styling*/
.welcomePageBackground {
  padding: 0;
  margin-top: -102px;
  height: 1320px;
  width: 100%;
  background-image: url("brushed.png");
}

.orbitContainer img {
  width: 100%;
  background-size: cover;
}



#headcontain {
  margin-top: 115px;
  width: 100%;
}


.welcomephoto {
  background-size: cover;
  background-image: url("coverphoto.jpg");
  background-repeat: no-repeat;
  height: 805px;

}

#logo {
  float: left;
}

ul {
  display: inline;
  padding: 0;
  margin: 0;
}

.orbit-slides-container{
  height: 1000px;
  width: 1000px;
}

.row.aboutUs {
  margin-top: 70px;
}
.aboutUs {
  
  width: 600px;
  height:400px;
  margin: 0 auto;
}

.whoarewe {
  font-size: 35px;
  font-family: 'Rock Salt', cursive !important;
  color: #c18058;
}
p.aboutUsContent {
  font-size: 22px;
}

.photo1 {
  height:200px;
  width:200px;
  background-image: url("photo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1px;
}
.photo2 {
  height:200px;
  width:200px;
  background-image: url("photo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.photo3 {
  height:200px;
  width:200px;
  background-image: url("photo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.photo4 {
  height:200px;
  width:200px;
  background-image: url("photo4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.row.contactUs {
  margin-top: 85px;
}

.section {
  max-width: 500px;
  margin: 0 auto;
}

.bottomsection {
  background-image: url("brushed.png");
  height: 375px;
  width: 100%;
  padding: 50px;
}

.crisphoto {
  height: 200px;
  width: 350px;
  background-image: url("jessicabiel.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.anabelphoto {
  height: 200px;
  width: 350px;
  background-image: url("EvaLongoria3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.carolynphoto {
  height: 200px;
  width: 350px;
  background-image: url("kristinkreuk.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
/*End of Welcome Page Styling*/


#signinTitle {
  height: 200px;

}
h1.landtitle {
  text-align: left;
  margin-bottom: 50px;
  font-size: 58px;
  font-family: 'Rock Salt', cursive !important;
}

.form-group {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

#signinform {
  width: 300px;
  height: auto;
  text-align: center;
}

#poster1 {
  height: 400px;
  width: 530px;
  margin: 0 420px;
  position: fixed;
  background-image: url("fixed.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#poster2 {
  height: 400px;
  width: 530px;
  margin: 0 420px;
  position: fixed;
  background-image: url("f3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

